@import url('https://fonts.googleapis.com/css2?family=Barlow+Condensed:wght@100;200;300;400;500;600;700;800;900&family=Oswald:wght@200;300;400;500;600;700&display=swap');

/* ================================
        common css start
================================*/
* {
    margin: 0;
    padding: 0;
    outline: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    
}
ul, ol{
    list-style: none;
} 
a{
    text-decoration: none;
    display: inline-block;
}
img {
    vertical-align: middle;
}
h1, h2, h3,h4,h5,h6,p,li,a,div,span,ul {
    margin: 0;
    padding: 0;
}
body{
   color: #FFF;
}
.container {
    width: 1278px;
    margin: auto;
}
.container{
    max-width: 1320px;
}
/* ================================common css END================================*/
/* ================================variable  start================================*/

:root{
    --primary_white: #fff;
    --red: #FF4655;
    --background: #191919;
    --background__deep: #121212;
    --text__white: #DDD;
    --Oswald:'Oswald', sans-serif;
    --Barlow:'Barlow Condensed', sans-serif;
}


/* ================================variable  END================================*/
/* ================================header start================================*/
.heading{
    background-image: url(./images/banner\ 1.png);
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    height: 1080px;
}


/* ================================navbar  start================================*/

#navbar{
    display: flex;
    align-items: center;
    padding-top: 25px;
}
.nav__logo{
    position: relative;
}
.logo{
    color: var(--primary_white);
    font-family: var(--Barlow);
    font-size: 35px;
    font-weight: 700;
    line-height: normal;
}
.svgDot{
    position: absolute;
    bottom: 6px;
    right: -18px;
}
.nav__menu{
    display: flex;
    padding-left: 100px;
    column-gap: 30px;
}
.nav__menu li{
    color: var(--text__white);
    font-family: var(--Oswald);
    font-size: 16px;
    font-weight: 400;
}
.nav__icons{
    display: flex;
    column-gap: 27px;
    padding-left: 460px;
    
}
.nav__icons a{
    color: var(--primary_white);
    font-family: var(--Oswald);
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}
.fa-right-to-bracket{
    padding-right: 7px;
}
/* ================================navbar  END================================*/
/* ================================banner  Start================================*/
#banner{
    margin-top: 270px;
}
.banner__content{
    max-width: 523px;
}
.banner__content p{
    color: var(--primary_white);
    font-family: var(--Oswald);
    font-size: 27px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    letter-spacing: 2.7px;
}
.banner__title{
    color: var(--primary_white);
    font-family: var(--Oswald);
    font-size: 60px;
    font-weight: 600;
    position: relative;
}
.banner__title::after{
    position: absolute;
    content: "";
    background-color: var(--primary_white);
    width: 90px;
    height: 4px;
    bottom: 15px;
    right: -78px;
}
.banner__summery{
    color: var(--primary_white);
    font-family: var(--Oswald);
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}
.banner__btn{
    border-style: none;
    font-family: var(--Oswald);
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    padding: 13px 24px;
}
.btn--bgwhite{
    color: var(--background, #121212);
    background: var(--primary_white);
    margin-top: 48px;
}
.banner__icons{
    display: flex;
    column-gap: 20px;
}
.banner__icons a{
    text-align: center;
    width: 25px;
    height: 25px;
    border-radius: 50%;
    background-color: var(--text__white);
    color: var(--background);
    margin-top: 301px;
}
/* ================================banner  END================================*/

/* ================================header start================================*/
/* ================================about start================================*/


#aboutPart{
    background: var(--background__deep);
    height: 912px;
    padding-top: 34px;
}
.common__title{
    color: var(--primary_white);
    font-family: var(--Oswald);
    font-size: 38px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    letter-spacing: 2.66px;
    max-width: 518px;
    position: relative;
}
.aboutPart--line::after{
    width: 120px;
    height: 3px;
    content: "";
    position: absolute;
    background-color: var(--red);
    bottom: 11px;
    right: 185px;
}
.about__top{
    display: flex;
    column-gap: 83px;
    padding-top: 64px;
}
.about__left img{
    border-radius: 0px 0px 65px 0px;
}
.right--box{
    position: relative;
}
.right--box::after{
    position: absolute;
    content: "";
    width: 163px;
    height: 7px;
    background-color: var(--red);
    top: -407px;
    left: -7px;
}
.right--box::before{
    position: absolute;
    content: "";
    width: 7px;
    height: 157px;
    background-color: var(--red);
    top: -400px;
    left: -7px;
}
.about__right__title{
    color: var(--primary_white);
    font-family: var(--Oswald);
    font-size: 27px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    letter-spacing: 0.81px;
}
.about__item{
    color: var(--primary_white);
    font-family: var(--Barlow);
    font-size: 18px;
    font-weight: 400;
    padding-top: 10px;
}
.about__item i{
    color: var(--red);
    padding-right: 10px;
}
.about__right p{
    color: var(--primary_white);
    font-family: var(--Oswald);
    font-size: 18px;
    font-weight: 400;
    line-height: normal;
    padding-top: 14px;
}
.btn--bgblack{
    background-color: var(--background);
    color: var(--primary_white);
    margin-top: 30px;
}
.about__bottom{
    padding-top: 50px;
    display: flex;
    align-items: center;
    column-gap: 20px;
}
.about__box{
    width: 315px;
    height: 170px;
    border-radius: 0px 50px;
    background: var(--background);
    padding: 25px 80px 27px 100px;
}


.box__title{
    /* display: flex;
    position: relative;
    align-items: end;  */
    display: inline-flex;
    justify-content: flex-end;
    align-items: baseline;
    gap: 8px;

}
.box__title__text{
    color: var(--primary_white);
    font-family: var(--Barlow);
    font-size: 60px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    letter-spacing: 1.8px;
}
.fa-circle{
    /* position: absolute;
    bottom: 17px;
    right: 17px; */
    width: 12px;
    height: 12px;
    color: var(--red);
}

.box__summary{
    color: var(--primary_white);
    font-family: var(--Oswald);
    font-size: 18px;
    font-weight: 300;;
    max-width: 125px;
    /* padding-top: 30px; */
}






/* ================================about end================================*/



/* ================================game start================================*/
#gamePart{
    background-color: var(--background);
    padding: 115px 0 115px;
}
.game__top{
    display: flex;
    justify-content: flex-end;
    position: relative;
}
.game__top__title{
    color: var(--primary_white);
    text-align: right;
    font-family: var(--Barlow);
    font-size: 38px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    letter-spacing: 2.66px;
    max-width: 454px;
}
.game__top__title::before{
    position: absolute;
    content: "";
    width: 105px;
    height: 3px;
    background-color: var(--red);
    bottom: 9%;
    right: 14%;
}


.game__bottom{
    display: flex;
    column-gap: 108px;
    justify-content: space-between;
    align-items: flex-end;
    padding-top: 80px;
}

.game__bottom__left{
    position: relative;
}

.game__left__img{
    position: absolute;
    top: -497px;
    left: -39px;
    z-index: 1;
}
.game__overlay{
    position: relative;
}

.game__overlay::after{
    position: absolute;
    content: "";
    clip-path: polygon(15% 0, 100% 0%, 85% 100%, 0% 100%);
    background-color: var(--red);
    width: 651px;
    height: 390px;
    top: -389px;
    left: -94px;

}

.game__bottom__right{
    position: relative;
}
.game__right__icon{
    position: absolute;
    font-size: 2rem;
    display: flex;
    flex-direction: column;
    row-gap: 20px;
    bottom: 5%;
    right: 2%;
    color: var(--primary_white);
}


/* ================================game end================================*/



/* ================================streamin Star================================*/

#streaminPart{
    background: var(--background__deep);
    padding: 150px 0;
}

.streaminPart--line::after{
    width: 120px;
    height: 3px;
    content: "";
    position: absolute;
    background-color: var(--red);
    bottom: 9%;
    right: 48%;
}
.streamin__videos{
    padding-top: 80px;
    display: flex;
    align-items: center;
    column-gap: 20px;
}
.video{
    position: relative;

}
.video--width{
    width: 427px;
    height: 276px;
}
.video--width2xl{
    width: 427px;
    height: 295px;
}
.video__pic{
    filter: grayscale(1);
}
.grayscale--none{
    filter: grayscale(0) !important;
}
.video__playIcon{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 2rem;
}
.videoContent{
    display: flex;
    align-items: flex-end;
    justify-content: space-between;
    column-gap: 160px;
    padding: 0 25px;
    position: absolute;
    bottom: 24px;
    left: 0px;
}
.videoContent__title{
    color: var(--primary_white);
    font-family: var(--Barlow);
    font-size: 22px;
    font-style: normal;
    font-weight: 600;
}
.videoContent__summary{
    color: var(--primary_white);
    font-family: var(--Oswald);
    font-size: 16px;
    font-weight: 300;
    letter-spacing: 0.96px;
}
.videoContent__right{
    color: var(--primary_white);
    font-family: var(--Oswald);
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    position: relative;
}
.videoContent__right::before{
    position: absolute;
    content: "";
    bottom: 8px;
    left: -8px;
    width: 5px;
    height: 5px;
    border-radius: 50%;
    background-color: var(--red);
}
.gap--253{
    column-gap: 253px !important;
}









/* #streaminPart{

    background-color: var(--background__deep);
    padding: 90px 0;
}


.streamin__videos{
    padding-top: 80px;
    display: flex;
    column-gap: 20px;
}
.video{
    position: relative;
    width: 427px;
    height: 273px;

}
.video__img{
    width: 427px;
    height: 273px;
    background: url(./images/tour-1\ 1.png);
    filter: grayscale(100%);
    position: relative;
}


.video__playIcon{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 2rem;
}

.video__content{
    display: flex;
    align-items: flex-end;
    column-gap: 185px;
    padding: 196px 0 24px 25px;
    /* padding-top: 196px;
    padding-left: 25px; 
}
.videoContent__title{
    color: var(--primary_white);
    font-family: var(--Barlow);
    font-size: 22px;
    font-weight: 600;
    max-width: 167px;
}
.videoContent__summary{
    color: var(--primary_white);
    font-family: var(--Oswald);
    font-size: 16px;
    font-style: normal;
    font-weight: 300;
    letter-spacing: 0.96px;
}
.video__content__right{
    position: absolute;
    bottom: 10%;
    right:25px;
}
.videoContent__rightP{
    color: var(--primary_white);
    font-family: var(--Oswald);
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    position: relative;
}
.videoContent__rightP::before{
    width: 5px;
    height: 5px;
    content: "";
    border-radius: 50%;
    position: absolute;
    top: 60%;
    left: -10px;
    background-color: var(--red);
} */




/* ================================streamin end================================*/


/* ================================ end================================*/


