@import url('https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
/* =========== Common css S=========== */

* {
    margin: 0;
    padding: 0;
    outline: 0;
    box-sizing: border-box;

}


ul, ol {
    list-style: none;
}

a {
    text-decoration: none;
    display: inline-block;
}

img {
    vertical-align: middle;
}

h1, h2, h3, h4, h5, h6, p, li, a, div, span, ul {
    margin: 0;
    padding: 0;
}

body {
    color: #FFF;
    font-family: circularStd;

}

.container {
    width: 1320px;
    margin: 0 auto;
}

@font-face {
    font-family: circularStd;
    src: url(../fontA/circular-std-medium-500.ttf);
}


/* =========== Common css =========== */
/* =========== Root css S =========== */
:root {
    --dmSans: "DM Sans", sans-serif;
    --white: #fff;
    --primary_bg: #60E1CB;
    --secondary_bg: #E9FBF8;
    --primary_font: #292525;
    --secondary_font: #000000;
    --blue: #7BC0E3;
    --popins: "Poppins", sans-serif;
}

/* =========== Root css =========== */
/* =========== Navbar css S=========== */


.navbarList__item {
    color: var(--blue);
    padding-right: 20px !important;

}

.navbar__btn {
    background: var(--white);
    color: var(--blue);
    border: 1px solid var(--blue);
    outline: none;

    padding: 12px 15px;
    border-radius: 50px;
    font-weight: 500;
    transition: all ease-in .3s;

}

.navbar__btn:hover {
    background: var(--blue);
    color: var(--white);
    border: 1px solid transparent;

}


/* =========== Navbar css =========== */
/* =========== headins css S=========== */

#headingPart {
    overflow: hidden;
    height: 950px;
}

.heading__title {
    color: var(--primary_font);
    font-size: 58px;
    font-weight: 900;
    letter-spacing: -1.5%;
    position: relative;
}

.heading__title::before {
    position: absolute;
    content: "";
    width: 120px;
    height: 4px;
    background: var(--blue);
    top: -22px;
    left: 0px;
}

.heading__title span {
    color: var(--blue);
}

.heading__summary {
    color: #000000;
    font-family: var(--dmSans);
    font-size: 20px;
    font-weight: 400;
    padding: 30px 0 50px;
}

.commonBtn {
    outline: 0;
    border: 0;
    padding: 15px 25px;
    border-radius: 50px;
    font-size: 20px;
    font-weight: 700px;
    color: var(--primary_bg);
    background: var(--white);
    border: 1px solid #D5D4DE;
    transition: all ease-in-out .3s;
}

.commonBtn:hover {
    color: var(--white);
    background: var(--primary_bg);
    box-shadow: 0px 46px 53px 0px rgba(96, 225, 203, 0.56);

}

.heading__right {
    position: relative;
}

.banner__img {
    z-index: 5;
}
@keyframes rotate {
    0%, 100%{
        transform: rotate(0deg);
    }
    50%{
        transform: rotate(360deg);
    }
}
.circle1 {
    position: absolute;
    z-index: -1;
    top: 177px;
    right: -274px;
    animation: rotate 15s ease-in-out infinite;
}

.circle2 {
    position: absolute;
    z-index: -1;
    top: 262px;
    left: -269px;
    animation: rotate 20s ease-in-out infinite;
}

/* =========== headins css =========== */