@import url('https://fonts.googleapis.com/css2?family=Oxanium:wght@200..800&family=Raleway:ital,wght@0,100..900;1,100..900&display=swap');

/* ================================
        common css start
================================*/

ul, ol {
    list-style: none;
}

a {
    text-decoration: none;
    display: inline-block;
}

img {
    vertical-align: middle;
}

h1, h2, h3, h4, h5, h6, p, li, a, div, span, ul {
    margin: 0;
    padding: 0;
}

body {
    color: #FFF;
    font-family: "Raleway", sans-serif;
}

.container {
    width: 1320px;
    margin: 0 auto;
}

/* ================================common css END================================*/
/* ================================Variable ================================*/

:root {
    --Primary: #0088B4;
    --Danger: #F95C19;
    --Warning: #FFAF0F;
    --Success: #00BA77;
    --infp: #00CEC2;
    --White: #FFFFFF;
    --lightText: #F0F4F9;
    --DarkText: #817382;
    --sTect: #4D4D4D;
    --grayText: #261134;
    --gray100: #EBEBF5;
    --gray200: #DBDBE9;
    --gray300: #C5C5D2;
    --gray400: #AFAEBC;
    --gray500: #9291A1;
    --gray600: #7B7A8B;
    --gray700: #5C5B6C;
    --gray800: #464558;
    --gray900: #2F2E41;
    --gray1000: #222132;
    --gray1100: #11111D;
    --warningSoft: #FFEDC9;
    --dangerSoft: #FFE4D9;
    --oxanium: "Oxanium", sans-serif;
    --raleway: "Raleway", sans-serif;

}



/* ================================Variable ================================*/

/* ================================Navbar css ================================*/

#navbarPart {
    background: radial-gradient(9917.17% 140.83% at 0.83% 0%, rgba(255, 255, 255, 0.70) 0%, rgba(255, 255, 255, 0.15) 100%);
    box-shadow: 0px 0px 20px 0px rgba(0, 0, 0, 0.05);
}

.navLink {
    color: var(--DarkText);
    font-size: 16px;
    font-weight: 700;
}

.navLink:hover {
    color: var(--Danger);
}

.seachIcon {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 20px;
    background: var(--warningSoft);
    width: 55px;
    height: 55px;
    border-radius: 6px;
    color: var(--Warning);
}

.seachIcon:hover {
    background: var(--Danger);
    color: var(--dangerSoft);
}

.navBtn {
    background: var(--dangerSoft);
    padding: 12px 20px;
    color: var(--Danger);
    outline: none;
    border: none;
    border-radius: 5px;
    font-family: var(--oxanium);
    font-size: 20px;
    font-weight: 700;
    transition: all ease-in-out .4s;
}

.navBtn:hover {
    background: var(--Danger);
    color: var(--White);
}





/* ================================Navbar css================================*/
/* ================================Banner css================================*/

#Banner {
    background: linear-gradient(180deg, #FFF7E7 0%, #FFF1DC 100%);
    padding: 170px 0 180px;
}

/* ================================Hero css================================*/

.hero__title {
    color: var(--grayText);
    font-family: var(--raleway);
    font-size: 49px;
    font-weight: 400;
}

.hero__title span {
    font-weight: 600;
}

.hero__sumary {
    width: 330px;
    height: 56px;
    color: var(--sTect);
    font-size: 20px;
    font-weight: 400;
    margin: 16px 0 41px;
}

.heroBtn {
    color: var(--White);
    background: var(--Danger);
    padding: 12px 20px;
    outline: none;
    border: none;
    border-radius: 5px;
    font-family: var(--oxanium);
    font-size: 20px;
    font-weight: 700;
    transition: all ease-in-out .4s;
}

.heroBtn:hover {
    color: var(--Danger);
    background: var(--White);
    border: 1px solid var(--Danger);
}

.heroBtn i {
    font-weight: 500;
}

/* =====kyeframe==== */

@keyframes cloud {
    0% {
        transform: translateX(0px);
    }

    50% {
        transform: translateX(1000px);
    }

    100% {
        transform: translateX(0px);
    }
}

@keyframes grow {
    0%, 15%, 50%, 100% {
        transform: scale(1);
    }

    25% {
        transform: scale(.85);
    }

    60%, 90% {
        transform: scale(1.1);
    }

    75% {
        transform: scale(1.15);
    }
}

@keyframes bounce {
    0%, 20%, 50%, 80%, 100% {
        transform: translateY(0);
    }

    40% {
        transform: translateY(-20px);
    }

    60% {
        transform: translateY(-10px);
    }
}

@keyframes drop1 {
    0%, 20%, 50%, 80%, 100% {
        transform: translateY(0);
    }

    40% {
        transform: translateY(-20px);
    }

    60% {
        transform: translateY(-10px);
    }
}

@keyframes drop2 {
    0% {
        transform: translateY(-212px);
    }

    35%, 50%, 80%, 100% {
        transform: translateY(0px);
    }

    40% {
        transform: translateY(-20px);
    }

    60% {
        transform: translateY(-10px);
    }
}
@keyframes drop3 {
    0% {
        transform: translateY(-295px);
    }

    35%, 50%, 80%, 100% {
        transform: translateY(0px);
    }

    40% {
        transform: translateY(-20px);
    }

    60% {
        transform: translateY(-10px);
    }
}


/* =====kyeframe==== */
/* ============animation ============= */
.banner {
    width: 878px;
    position: relative;
    /* overflow: hidden; */
}

.banner__img {
    position: relative;
    width: 878px;
    z-index: 10;

}

.bannerAni__img1 {
    position: absolute;
    bottom: 361px;
    left: 423px;
    /* animation: grow 2s ease-in-out infinite; */
}


.img2 {
    position: absolute;
    bottom: 123px;
    left: 720px;
    /* animation: bounce 2.5s ease-in-out infinite; */
}


.bannerAni__img3 {
    position: absolute;
    bottom: 212px;
    /* bottom: 0px; */
    left: 475px;
    /* animation: drop2 2s ease-in-out infinite; */
}

.bannerAni__img4 {
    position: absolute;
    bottom: 295px;
    /* bottom: 0px; */
    left: 674px;
    /* animation: drop3 2s ease-in-out infinite; */
}

.bannerAni__img5 {
    position: absolute;
    bottom: 164px;
    left: 254px;
    animation: grow 2s ease-in-out infinite;

}

.bannerAni__img6 {
    position: absolute;
    bottom: 20px;
    left: 440px;
    /* animation: drop1 2s ease-in-out infinite; */
}

.bannerAni__img7 {
    position: absolute;
    bottom: 206px;
    left: 654px;
    animation: grow 2s ease-in-out infinite;
}

.bannerAni__img9 {
    position: absolute;
    bottom: 200px;
    left: -100px;
    animation: cloud 12.5s ease-in-out infinite;
}

.bannerAni__img8 {
    position: absolute;
    bottom: 438px;
    left: -100px;
    z-index: 5;
    animation: cloud 12s ease-in-out infinite;
}

/* ============animation ============= */



/* ================================hero css================================*/
/* ================================Service css================================*/
#services {
    padding-top: 170px;
}

.services__title {
    color: var(--Theme-Colors-Danger, #F95C19);
    font-family: var(--oxanium);
    font-size: 31.25px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}

.services__sumary {
    color: var(--Gray1100, #11111D);
    text-align: center;
    font-family: var(--raleway);
    font-size: 34px;
    font-weight: 800;

}

.cardPart {
    padding-top: 80px;
}

.cardWidth {
    max-width: 424px;
}

.cardWidth:nth-child(1),
.cardWidth:nth-child(2) {
    margin-right: 24px;
}

/* .Card__m {
    margin-right: 24px;
} */

.serviceCard__title {
    padding: 30px 0;
    color: var(--gray800, #464558);
    text-align: center;
    font-size: 25px;
    font-weight: 800;
}

.serviceCard__summary {
    color: var(--Gray-600, #7B7A8B);
    font-family: Raleway;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 145%;
}

.service__list {
    list-style: var(--Danger);
    color: var(--Danger);
    padding: 40px 0 60px;
}

.service__item span {
    color: var(--gray600);
    font-size: 16px;
    font-weight: 400;
}

.serviceCard__btn {
    color: var(--Danger, #F95C19);
    font-family: var(--oxanium);
    font-size: 20px;
    font-weight: 700;
    display: flex;
    width: 305px;
    padding: 12px 20px;
    justify-content: center;
    align-items: center;
    gap: 10px;
    border-radius: 5px;
    background: transparent;
    border: 1px solid var(--Danger, #F95C19);
    transition: all ease-in .2s;
}

.serviceCard__btn:hover {
    background: var(--Danger, #F95C19);
    color: var(--White);
}


/* ================================Service css================================*/
/* ================================Achievment css================================*/

#achievmentPart {
    padding-top: 170px;
}

.achievmentPart__img {
    max-width: 65px;
    height: 60px;
}

.achievmentPart__title {
    color: var(--Danger, #F95C19);
    text-align: center;
    font-variant-numeric: lining-nums proportional-nums;
    font-size: 39px;
    font-weight: 800;
    line-height: 110%;
    padding: 28px 0 20px;
}

.achievmentPart--title {
    padding: 18px 0 10px;
}

.achievmentPart__sumary {
    color: var(--gray800, #464558);
    text-align: center;
    font-size: 20px;
    font-style: normal;
    font-weight: 700;
    line-height: 120%;
}

.fa-trophy-star {
    font-size: 4rem;
    color: var(--gray900);
}



/* ================================achievment css================================*/
/* ================================FASTEST DELIVERY css================================*/

#fastestDeliveryPart {
    padding-top: 170px;
    padding-bottom: 170px;
}

.fastestDeliveryPart__img {
    position: relative;
}

.fastestDeliveryPart__img::after {
    position: absolute;
    content: "";
    bottom: -282px;
    left: 0;
    background: #0A090D;
    opacity: .8;
    width: 1320px;
    height: 580px;
    border-radius: 20px;
}

.fastestDeliveryPart__wrapper {
    position: relative;
}

.fastestDeliveryPart__content {
    display: flex;
    flex-direction: column;
    align-items: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.fastestDeliveryPart__title {
    color: var(--Danger, #F95C19);
    text-align: center;
    font-family: var(--oxanium);
    font-size: 31.25px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    padding: 20px 0 20px;
}

.fastestDeliveryPart__summary {
    color: var(--White, #FFF);
    text-align: center;
    max-width: 673px;
    font-size: 25px;
    font-weight: 400;
    line-height: 120%;
}

i[class="fa-duotone fa-circle-play"] {
    color: #f95c19;
    font-size: 5.8rem;
    background: var(--Danger);
    border-radius: 50%;

}

/* ================================FASTEST DELIVERY css================================*/
/* ================================TESTIMONIAL css================================*/
.testimonial__top {
    position: relative;
}

@keyframes testimoni {
    0%, 10%, 90%, 100% {
        transform: translateX(0px) rotate(0deg);

    }

    45% {
        transform: translateX(600px) rotate(180deg);
    }

    55% {
        transform: translateX(600px) rotate(180deg);
    }


}

.testimonial__svg {
    position: absolute;
    top: 0;
    left: -141px;
    /* s */
    animation: testimoni 8s ease-in-out infinite;
}

.testimonial__title {
    color: var(--Theme-Colors-Danger, #F95C19);
    font-family: Oxanium;
    font-size: 31.25px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}

.testimonial__subTitle {
    color: var(--gray1000, #11111D);
    font-variant-numeric: lining-nums proportional-nums;
    font-size: 39px;
    font-weight: 800;
    line-height: 110%;
}

.testimonial__slide {
    max-width: 872px;
    margin: 90px auto;
    border-radius: 16px;
    background: var(--White, #FFF);
    box-shadow: 0px 0px 20px 5px rgba(0, 19, 119, 0.05);
}

.client__title {
    color: var(--Danger, #F95C19);
    font-size: 25px;
    font-weight: 700;
    line-height: 120%;
}

.client__comment {
    color: var(--Gray-800, #464558);
    font-size: 16px;
    font-weight: 400;
    line-height: 145%;
}

.clientName {
    color: var(--gray1000, #222132);
    font-size: 16px;
    font-weight: 700;
    line-height: 120%;
}

.clientProfession {
    color: var(--Gray-800, #464558);
    font-size: 16px;
    font-weight: 400;
    line-height: 120%;
}

/* ================================TESTIMONIAL css================================*/
/* ================================Form css================================*/

#formPart {
    margin: 80px auto;
}

.form__content {
    max-width: 415px;
}

.form__req {
    color: var(--Danger, #F95C19);
    font-family: var(--oxanium);
    font-size: 24px;
    font-weight: 700;
}

.form__title {
    color: var(--Gray-1000, #222132);
    font-variant-numeric: lining-nums proportional-nums;
    font-size: 39px;
    font-style: normal;
    font-weight: 800;
    line-height: 110%;
}

.form__time {
    color: var(--gray500, #9291A1);
    font-size: 25px;
    font-weight: 600;
    line-height: 120%;
}

.w-423 {
    width: 423px !important;
    background: transparent;
}

.w-423::placeholder {
    color: var(--gray500, #9291A1);
    font-size: 16px;
    font-weight: 400;
    line-height: 145%;
}

.form-control:focus {
    /* border:  #a7abae !important; */
    outline: none;
    box-shadow: none;
    background-color: transparent;

}

.form__comment {
    color: var(--gray500, #9291A1);
    font-size: 16px;
    font-weight: 400;
    line-height: 145%;

}

.form__btn {
    border-radius: 5px;
    background: var(--Danger, #F95C19);
    color: var(--White, #FFF);
    text-align: center;
    font-family: var(--oxanium);
    font-size: 20px;
    font-weight: 700;
    transition: all ease-in-out .3s;
}

.form__btn:hover {
    border: 2px solid var(--Danger);
    background: var(--warningSoft);
    color: var(--Danger);

}


/* ================================Form css================================*/
/* ================================findUs css================================*/

.finUs__title {
    color: var(--gray800, #464558);
    font-size: 20px;
    font-weight: 700;
    line-height: 120%;
}

.finUs__detail {
    color: var(--gray700, #5C5B6C);
    font-size: 16px;
    font-weight: 400;
    line-height: 120%;
    padding: 7px 0;

}

.finUs__detail i {
    color: var(--Warning);
    text-align: center;
}

.findUs__social {
    color: #EBEBF5;
    font: 38px;
    padding-top: 10px;
    transition: all ease-in-out .3s;
}

.findUs__social:hover {
    color: var(--Danger);
}

.findUs--btn {
    padding: 15px 113px;
}


/* ================================findUs css================================*/

#emailPart {
    background-color: var(--gray1000);
    padding: 84px 0;
}

.email__title {
    color: var(--White, #FFF);
    font-variant-numeric: lining-nums proportional-nums;
    font-size: 39px;
    font-weight: 800;
}

.email__summary {
    color: var(--gray300, #C5C5D2);
    font-size: 16px;
    font-weight: 400;
}

.emailLeft__title {
    color: var(--Danger, #F95C19);
    font-family: var(--oxanium);
    font-size: 18px;
    font-weight: 700;
}

.email__input {
    width: 386px;
    color: #FFF;
    height: 49px;
    background: transparent;
    outline: none;
    padding: 15px 16px;
    /* margin: 13px 16px 0 0; */
    border: 1px solid var(--gray300, #C5C5D2);
    background: #222132;
}

.email__input::content {
    color: #FFF;
}

.email__btn {
    border-radius: 5px;
    background: #F95C19;
    color: var(--White, #FFF);
    text-align: center;
    font-family: var(--oxanium);
    font-size: 20px;
    font-weight: 700;
    padding: 12px 20px;
    margin-left: 16px;
    width: 134px;
    height: 49px;
    border: none;
    outline: none;
    transition: all ease-in-out .3s;
}

.email__btn:hover {
    background: var(--warningSoft);
    color: var(--Danger);
}




/* ================================Banner css================================*/
/* ================================Footer css================================*/

#footerPart {
    background-color: var(--gray900);
    padding: 53px 0;
}

.footer__summary {
    color: var(--gray500, #9291A1);
    font-size: 16px;
    font-weight: 600;
    width: 35%;
}

.footerList__title {
    color: var(--White, #FFF);
    font-family: var(--oxanium);
    font-size: 20px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    padding-bottom: 8px;
}

.footer__item {
    color: var(--gray500, #9291A1);
    font-size: 16px;
    font-weight: 600;
    padding: 7px 0;
    transition: all ease-in-out .3s;
}

.footer__item:hover {
    color: var(--dangerSoft);

}


/* ================================Footer  css================================*/
/* ================================end  css================================*/
#end {
    background: var(--gray1100);

}

.end__rights {
    color: var(--gray200, #DBDBE9);
    font-size: 13px;
    font-weight: 500;
}

.end__company {
    color: #E0DEDE;
    font-size: 13px;
    font-weight: 800;
}

.end__company a {
    color: #F95C19;
    cursor: pointer;
    transition: all ease-in .2s;
}

.end__company a:hover {
    color: var(--warningSoft);
}